<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="test.app.paaya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PAAYA">
        <activity android:name=".colorlost"></activity>
        <activity android:name=".locationlost" />
        <activity android:name=".Laptoplost" />
        <activity android:name=".verifLost" />
        <activity android:name=".reward" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".codeverif" />
        <activity android:name=".compete" />
        <activity android:name=".loginPhoneNumber" />
        <activity android:name=".login" />
        <activity android:name=".verif" />
        <activity android:name=".color" />
        <activity android:name=".description" />
        <activity android:name=".location" />
        <activity android:name=".other" />
        <activity android:name=".human" />
        <activity android:name=".umbrella" />
        <activity android:name=".pets" />
        <activity android:name=".cosmetics" />
        <activity android:name=".shoes" />
        <activity android:name=".garments" />
        <activity android:name=".glasses" />
        <activity android:name=".jewellery" />
        <activity android:name=".money" />
        <activity android:name=".bages" />
        <activity android:name=".documents" />
        <activity android:name=".cards" />
        <activity android:name=".keys" />
        <activity android:name=".electronics" />
        <activity android:name=".watches" />
        <activity android:name=".phones" />
        <activity android:name=".laptop" />
        <activity android:name=".GriditemActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.PAAYA.NoActionBar" />
        <activity android:name=".found_somthing" />
        <activity android:name=".lost_somthing" />
    </application>

</manifest>